@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Oswald:wght@500;700&family=JetBrains+Mono:wght@400;500&display=swap");
@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    color: #111827;
    background-color: #f3f4f6;
    margin: 0;
  }
}

.canvas-dot-grid {
  background-color: #f3f4f6;
  background-image: radial-gradient(circle, #d1d5db 1px, transparent 1px);
  background-size: 24px 24px;
}
